APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=gateway01.ap-northeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_DATABASE=prueba_tecnica
DB_USERNAME=akejx6z3UBZP4Vh.root
DB_PASSWORD=Ac8MmOua0xb1uz6v

SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_STORE=file
